/* Navigation bar */
.navbar{
    overflow: hidden;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* links inside navbar*/
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change bck */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 50px; 
}
